<div class='flex w-full flex-col justify-between bg-white'>
  {{ 'collection-1' | placeholder_svg_tag: 'h-[85%] w-full object-cover' }}
  <div class='flex h-[15%] flex-col items-center justify-center tracking-tight'>
    <h1 class='text-xs font-black uppercase'>product title</h1>
    <h2 class='text-xs'>$000</h2>
  </div>
</div>
