<section class='flex h-full w-full flex-col items-center justify-center'>
  <h1 class='text-4xl font-bold'>404</h1>
  <p class='mb-4 text-2xl'>You are lost</p>
  <a
    href='{{ routes.root_url }}'
    class='rounded-lg border-2 border-black bg-black px-8 pt-2 pb-1.5 text-white transition-all duration-300 hover:bg-white hover:text-black'
    >Go back to the home page</a
  >
</section>
