<header class="flex justify-between items-center py-2 px-4 border-b border-black w-full bg-white fixed top-0 z-50">
    <nav class="w-1/3">
        <ul class="flex gap-2">
           {% for link in linklists.collections.links %}
                <li class="text-xs border border-transparent transition-all duration-300 hover:border-black px-2 pb-1 pt-1.5 rounded-md">
                    <a href="{{ link.url }}">
                        {{ link.title | upcase }}
                    </a>
                </li>
           {% endfor %}
        </ul>
    </nav>
    <a href="{{ routes.root_url }}" class="absolute left-1/2 transform -translate-x-1/2 text-xl font-bold tracking-[0.1em]">
       {{ section.settings.brand_name | upcase }}
    </a>
    <div class="w-1/3 flex justify-end">
        cart
    </div>
</header>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "brand_name",
            "label": "Brand Name",
            "default": "BALENCIAGA"
        }
    ]
}
{% endschema %}